.buttonStyle {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.4s ease;
  z-index: 1;
}
.buttonStyle:before {
  background: hsl(217, 100%, 42%);
  transition: 0.4s ease;
  content: "";
  position: absolute;
  z-index: -1;
}
.buttonStyle:after {
  background: #090e36;
  transition: 0.3s ease;
  content: "";
  position: absolute;
  z-index: -1;
}

.left {
  &:before {
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
  }
  &:hover {
    &:before {
      right: 0;
    }
  }
}
.my-swal-loader {
  border-top-color: #0052d4 !important;
  /* border-left-color: #090e36 !important; */
  border-bottom-color: #0052d4 !important;
  /* border-right-color: #090e36 !important; */
}

.my-swal-progress-bar {
  background-color: #0052d4 !important;
}
