.btn {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 99px;
  height: 99px;
  width: 99px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.8s;
  cursor: pointer;
  -webkit-user-select: none;
  transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
}

.btn svg {
  position: absolute;
  left: 0;
  top: 0;
}

.circle {
  stroke-dasharray: 301.59px 301.59px;
  stroke-dashoffset: 301.59px;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
}

.btn:hover .circle {
  stroke-dashoffset: 0;
}

/* arrow */
.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #090e36 95%, transparent 80% 100%), conic-gradient(white 25%, gray 0);
  animation: progress 2s 1 forwards;
  transition: background 1s ease-in-out;
}

.progress-bar:hover {
  background: radial-gradient(closest-side, #090e36 95%, transparent 80% 100%), conic-gradient(white 100%, gray 0);
  cursor: pointer;
}
