@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* .modal-open {
  overflow: hidden;
} */

.modal {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Epilogue", sans-serif;
}

/* custom  */
.feature_img_hover_styles {
  @apply bg-white/75 hover:bg-white rounded-[16px] shadow-custom_secondary hover:shadow-custom  duration-300 transition-all  w-full md:w-[300px] h-[120px] lg:h-[280px] flex items-center justify-center cursor-pointer;
}

.footer_icons,
.footer_icons2 {
  @apply hover:animate-pulse cursor-pointer hover:scale-110 transition duration-150 text-xl 2xl:text-2xl;
}
.footer_icons {
  @apply text-white hover:text-[#6AA0FC];
}
.footer_icons2 {
  @apply text-secondary-800 hover:text-[#6AA0FC];
}
