::-webkit-scrollbar {
  display: none;
}

#section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

.items {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
