.backgroundImage {
  background-image: url("../assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  .backgroundImage {
    background-image: none;
  }
}
